/*直接將 media 的條件寫在 CSS 裡，裡面包的是各種 class/ ID 的 css 設定*/
@media screen and (min-width: 400px) and (max-width: 768px) {
  .productName {
    font-size: 20px;
    font-weight:bold;
    color: black;
    border:3px green solid;
    text-align:center;
    margin:5px;
    }
  .a1 {
    font-size: 15px;
    font-weight:bold;
    color: blue;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .productName {
    font-size: 2px;
    font-weight:bold;
    color: black;
    }
    .a1 {
      font-size: 0.5px;
      font-weight:bold;
      color: blue;
      }
}

@media screen and (min-width: 1366px){
  .productName {
    font-size: 2px;
    font-weight:bold;
    color: black;
    border:3px green solid;
    text-align:center;
    margin:5px;
    }
    .a1 {
      font-size: 0.5px;
      font-weight:bold;
      color: blue;
      
      }
}