
<div class="container-fluid" (window:resize)="onResize($event)">
  <div class="row">
    <div class="col-md-12">
      <nav class="nav navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <img [src]="futaba.picture" width="50%"/>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar" [ngClass]="{'in': !isCollapsed}">
                  <ul class="nav navbar-nav">
                    <li><a data-toggle="button" [routerLink]="['/mccodelist/FPC']">FPC</a></li>
                    <li><a data-toggle="button" [routerLink]="['/mccodelist/TAC']">TAC</a></li>
                    <li><a data-toggle="button" [routerLink]="['/mccodelist/POL']">偏光板</a></li>
                    <li><a data-toggle="button" [routerLink]="['/mccodelist/AGAFP']">AG/AFP</a></li>
                  </ul>              
                  <!-- <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                      <li><a href="#">Log out</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                  </ul> -->
              </div>
          </div>
      </nav>
      <p>
          <!-- <h4 class="text-center">
              TP生產狀況總表
          </h4> -->
      <p>
          <!-- <h4>{{testwidth}}</h4> -->
      <div class="row">
          <div class="col-md-1"></div>
              <div class="col-md-1" *ngFor="let row of datas; let k=index">
                <div [ngClass]="getCSSClasses('[testwidth]')"> {{row.Product | strFormat}}</div>
                <div class="panel panel-info" *ngFor="let machine of row.MachineList">
                      <div class="panel-heading">
                        <div class="panel-title" [ngClass]="['machineName']">
                           {{machine.MachineName}}
                        </div>
                      </div>
                      <div class="panel-body">
                        夜:{{machine.MachineNight}}
                      </div>
                      <div class="panel-footer">
                        日:{{machine.MachineDay}}
                      </div>
                    </div>
              </div>
        </div>
      </div>
    </div>
