.navbarTitle {
    font-size: 16px;
    font-weight:bold; 
  }
  
  .navbarTitle1366 {
    font-size: 16px;
    font-weight:bold; 
  }
  
  .productTitle1366 {
    color: black;
    font-size: 14px;
    font-weight:bold; 
  }
  
  .productTitle {
    color: black;
    font-size: 14px;
    font-weight:bold; 
  }
  
  .productTitle {
    color: black;
    font-size: 6px;
    font-weight:bold; 
  }
  
  .productTitle1024 {
    color: red;
    font-size: 6px;
    font-weight:bold; 
  }
  
  .productTitle640 {
    color: black;
    font-size: 16px;
    font-weight:bold; 
  }
  
  .machineName {
    font-size: 13px;
    font-weight:bold; 
  }
  