@*if (Request.IsAuthenticated) {*@
@if (ftd.web.AppUserSession.User != null && !ftd.web.AppUserSession.User.IsGuest) {
    <div class="ButtomStyle2"  >
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <span id="userInfo"> @ftd.web.AppUserSession.User.DepartmentName - @ftd.web.AppUserSession.User.UserName </span>
            <a href="javascript:document.getElementById('logoutForm').submit()">(登出)</a>              
        }
    </div>
} else {
    <div class="ButtomStyle2">
        @Html.ActionLink("登入", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })
    </div>
}
