@*@model ftd.query.model.EoPermissionQryModel*@

@{
    Layout = "~/Views/Shared/_LayoutCodeQuery.cshtml";
    ViewBag.Title = @Html.functionName("程式代號", true);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="condition-container">
        <table>
            <tr>
                <td>權限代號</td>
                <td><input type="text" id="Q_PermissionCode" name="Q_PermissionCode" /></td>
                <td>權限名稱</td>
                <td><input type="text" id="Q_PermissionName" name="Q_PermissionName" /></td>
            </tr>
        </table>
        <div id="toolbar" class="toolbar">
            <input type="button" id="cmdQuery" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" value="查詢" onclick="doAction('query');" />
        </div>
    </div>
}

<div id="ListGridContainer"></div>


@section scripts {
    <script>

        function doAction(act) {
            switch (act) {
                case "query":
                    doQuery();
                    break;
                default:
            }
        }

        //查詢
        function doQuery() {
            try {
                var jsonData = {};
                jsonData = ToJsonObject();
                jsonData["__RequestVerificationToken"] = $("input[name=\"__RequestVerificationToken\"]").val();

                $('#ListGridContainer').jtable('load', jsonData);
            }
            catch (e) {
                alert(e);
            }
        }

        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,
                multiselect: false,
                selectingCheckboxes: false,
                defaultSorting: 'EOP_PermissionId ASC',
                actions: {
                    listAction: '@Url.Action("List", "EoPermission")',
                },
                fields: {
                    EOP_PermissionId: {
                        title: '權限ID',
                        width: '0.1%',
                        key: true,
                        list: false,
                        create: false,
                        edit: false
                    },
                    EOP_PermissionCode: {
                        title: '權限代號',
                        width: '10%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOP_PermissionName: {
                        title: '權限名稱',
                        width: '15%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOP_Description: {
                        title: '權限說明',
                        width: '20%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOP_IsEveryOneAllowName_XX: {
                        title: '允許每個人',
                        width: '6%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    },
                    EOP_IsObjectNeedName_XX: {
                        title: '指定物件',
                        width: '6%',
                        key: false,
                        list: true,
                        create: true,
                        edit: true
                    }
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        $selectedRows.each(function () {
                            //取得選擇的資料列
                            var record = $(this).data('record');
                            //自定回傳物件
                            var returnObj = {
                                RequestKey: '@ViewBag.RequestKey',
                                Row: record
                            };
                            //將物件轉字串
                            var jsonStr = JSON.stringify(returnObj);
                            //取得父視窗
                            var parent = window.parent;
                            //取得父視窗回傳值欄位
                            var ctl = parent.$('#CQ_Result');
                            if (ctl) {
                                //設定回傳值
                                ctl.val(jsonStr);
                                //觸發父視窗更新畫面
                                ctl.change();
                            }
                            //關閉CodeQuery視窗
                            CloseDialog();
                        });
                    };
                }
            });
        }

        $(document).ready(function () {
            //初始化 Grid
            initGrid();

            //載入資料
            doQuery();
        });

    </script>
}

