/* Accordion Menu powered by www.menucool.com */

/* ##### Top level items #####*/
#acdnmenu 
{
    /* Note about height: 
    Set "height:auto;" if flexible height is required. 
    A fixed height is prefered as content below the menu won't be pulled down/up when the menu is expanding/collapsing. */
   /* height: 300px;*/
    width: 100%;
	font-size:15px;
	
}


#acdnmenu ul.top
{
	padding-left:0;
    background:#5a5a5a ;/*次選單背景色*/
   
}

#acdnmenu div.heading, #acdnmenu a.link/*第一層選單樣式*/
{
    padding:8px; padding-left:22px;
    text-align:left;
    font-size:15px;
	font-weight:bold;
    color:#333;
	text-decoration:none;
    outline:none;
   background-color:#ececec;
   border-bottom:1px solid #bdbdbd;
   border-top:1px solid #fff;


}

#acdnmenu div.current, #acdnmenu div:hover, #acdnmenu a.link:hover, #acdnmenu div.current a.link/*第一層選單樣式*/
{
    color:#333;
    text-decoration:none;  
    background-position:0 -64px;
background:#bebebe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */

}

/*Top level link without children*//*沒有子選單的樣式設定*/
#acdnmenu a.current, #acdnmenu a.current:hover
{
    color:#FF0;
    text-decoration:none; 
	  
}

/* arrow image for the top headings 第一層選單圖示*/
#acdnmenu div.arrowImage {
    width:20px;
    height:20px;
    top:9px;
    left:2px; /* Changing it to "right:8px;" will position the arrow image to the right */
    background-image:url(../images/arrowR.png);
	opacity: .6; /* 透明度60% FireFox 的寫法 */ 
    filter: Alpha(Opacity=60); /* 透明度60% IE 的寫法 */ 
	background-repeat:no-repeat;
    background-position:0 0;
}

#acdnmenu div.current div.arrowImage {
    background-position:0 -20px;
}

#acdnmenu li.separator /*第一層分隔線樣式*/
{
    border-top:1px solid #cecece;
    border-bottom:0; 
}
/* ##### Sub level items #####*/
#acdnmenu ul.sub
{
	padding-left:15px; /*This determines the hierarchical offset*/
	font-weight:normal;
}

#acdnmenu ul.sub div.heading /*有第三層選單的第二層樣式設定*/
{
    text-align:left;
    font:normal 15px;
    padding:5px 5px 5px 20px; 
	margin:0 0 0 -15px;
    color:#000;
	font-weight:bold;

}
#acdnmenu ul.sub div.heading a
{
    color:#000;
	font-weight:normal;
}

#acdnmenu ul.sub div.current /*有子選單選定樣式*/
{
    color:#000;
     /*background:#baff95; */
	 
}

#acdnmenu ul.sub a.link/*第二層選單連結樣式*/
{
   text-align:left;
    font:normal 15px;
    padding:5px 5px 5px 20px; 
	margin:0 0 0 -15px;
    color:#000;
	font-weight:normal;
	background: #e5e5e5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e5e5e5 0%, #ededed 17%, #ededed 86%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(17%,#ededed), color-stop(86%,#ededed), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ededed 17%,#ededed 86%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5e5e5 0%,#ededed 17%,#ededed 86%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5e5e5 0%,#ededed 17%,#ededed 86%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e5e5e5 0%,#ededed 17%,#ededed 86%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-8 */


}

#acdnmenu ul.sub a.link:hover, #acdnmenu ul.sub a.current, #acdnmenu ul.sub div.heading a:hover, #acdnmenu ul.sub div.heading a.current
{
    color: #03C;
    text-decoration:none;

}


#acdnmenu ul.sub div.arrowImage {/*次選單圖示*/
       width:20px;
    height:20px;
    top:9px;
    left:2px; /* Changing it to "right:8px;" will position the arrow image to the right */
    background-image:url(../images/arrowS.png);
	opacity: .6; /* 透明度60% FireFox 的寫法 */ 
    filter: Alpha(Opacity=60); /* 透明度60% IE 的寫法 */ 
	background-repeat:no-repeat;
    background-position:0 0;
}
#acdnmenu ul.sub div.current div.arrowImage {
    background-position:0 -20px;
}



/* ##### Followings usually don't need modification ###### */
/*Hack the font-size:0 bug for IE6 */
#acdnmenu,  #acdnmenu ul
{
    display:block;
    font-size:0px;
    line-height:0px;
}
#acdnmenu li {font-size:15px; line-height:20px;}
#acdnmenu:after {content:'.';height:0;clear:both;display:block;visibility:hidden;} 

/*Hack for IE6-7*/
#acdnmenu ul, #acdnmenu li, #acdnmenu div.heading, #acdnmenu a.smLink, #acdnmenu div.description {*zoom:1;}
#acdnmenu li {*float:left;*width:100%;}

#acdnmenu ul
{
	position:relative;/*!*/
	overflow:hidden;
	padding:0;margin:0;list-style-type: none;padding-left:10px;
}
#acdnmenu>ul{visibility: hidden;}
#acdnmenu li {padding:0;margin:0;}

#acdnmenu div.heading, #acdnmenu div.current
{
	position:relative;
    cursor: pointer;
}
#acdnmenu div.arrowImage {position:absolute; overflow:hidden;}


