.date {
    width: 100px;
}

.nkfcp-orgid {
    width: 120px;
}

.nkfcp-organame {
    width: 250px;
}

.nkfcp-orgsname {
    width: 150px;
}

.nkfcp-caseno {
    width: 120px;
}

.nkfcp-propno {
    width: 120px;
}

.nkfcp-propname {
    width: 200px;
}

.nkfcp-proplot {
    width: 100px;
}

.nkfcp-propserial {
    width: 100px;
}

.nkfcp-proofdoc {
    width: 100px;
}

.nkfcp-proofno {
    width: 120px;
}
