

<div class="container">
  <div class="row" >
      <div class="col-md">
          <form role="form">
          <div class="input-group date form_datetime col-md-5"
               [attr.data-date]="'1979-09-16T05:25:07Z'"
               [attr.data-date-format]="'dd MM yyyy - HH:ii p'"
               [attr.data-link-field]="'dtp_input1'">
               <input  type="date" name="DOMDate" [(ngModel)] = "date" (change)="doquery()">
                &nbsp;
               <select name="DOMType" class="LiSelect" [(ngModel)]="codeSelected" (change)="doquery()" >
                  <option *ngFor="let itemCode of ListCodes"
                    value="{{itemCode.val}}" >{{itemCode.txt}} </option>
               </select>

               &nbsp;
               <!--<button type="submit" style="background-color:aqua;" class="btn btn-default" (click)="doquery()" >查詢</button>-->
               <button type="submit" class="btn btn-primary" (click)="rebackView()">
                回首頁
              </button>
            </div>
          </form>
      </div>
  </div>
  <br/>
  <div style="text-align:center">
      <input style="border:solid;background-color:blue;font-family: impact;color:lavender;text-align:center;font-size:x-large;"
      type="text" name="DOMCode" [attr.readonly]="'readonly'" [ngModel] = "code">
  </div>
  <br/>
  <!--all line detail start-->
  <div  class="row">
    <div  *ngFor="let mch of datas" [ngClass]="strListClass">
      <h3 style="border:solid;background-color:lightgreen;font-family: impact;color:brown">{{ mch.name }}</h3>
        <table class="table table-bordered'" style="border:ridge">
          <thead>
            <tr>
              <th style='text-align:center;'>時間</th>
              <th style='text-align:center;'>品種</th>
              <th style='text-align:center;'>數量</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mch.detail"
            [ngStyle]="{'background': item.dateHr.match('小')!= null ? 'orange' : item.dateHr.match('合')!= null ? 'cornflowerblue' : ''   }"

             >
              <td >{{item.dateHr}}</td>
              <td>{{item.item}}</td>
              <td>{{item.qty}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <!--all line detail end-->
</div>


