<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center">
				Page1
			</h4>
			<div class="btn-group">

				<button class="btn btn-default" type="button">
					<h4 class="glyphicon glyphicon-align-left"></h4> FPC
				</button>
				<button class="btn btn-default" type="button">
					<h4 class="glyphicon glyphicon-align-center"></h4> TAC
				</button>
				<button class="btn btn-default" type="button">
					<h4 class="glyphicon glyphicon-align-right"></h4> 偏光板
				</button>
				<button class="btn btn-default" type="button">
					<h4 class="glyphicon glyphicon-align-justify"></h4> AG/AFP
				</button>
			</div><p>
			<div class="row">
          <div class="col-md-1">
              <h4 class="text-center" font-size:vh>
                <pre>{{todos|async|json}}</pre>
              </h4>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h4 class="panel-title">
                  ALPS
                </h4>
              </div>
              <div class="panel-body">
                {{night}}
              </div>
              <div class="panel-footer">
                {{day}}
              </div>
            </div>
          </div>
          <div class="col-md-1">
              <h4 class="text-center">
              TP077F02A
              </h4>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h4 class="panel-title">
                  一型TAC
                </h4>
              </div>
              <div class="panel-body">
                {{night}}
              </div>
              <div class="panel-footer">
                {{day}}
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h4 class="panel-title">
                  一型OCA
                </h4>
              </div>
              <div class="panel-body">
                {{night}}
              </div>
              <div class="panel-footer">
                {{day}}
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h4 class="panel-title">
                  一型偏光板
                </h4>
              </div>
              <div class="panel-body">
                {{night}}
              </div>
              <div class="panel-footer">
                {{day}}
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h4 class="panel-title">
                  一型TPF7
                </h4>
              </div>
              <div class="panel-body">
                {{night}}
              </div>
              <div class="panel-footer">
                {{day}}
              </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    一型真空貼合
                  </h4>
                </div>
                <div class="panel-body">
                  {{night}}
                </div>
                <div class="panel-footer">
                  {{day}}
                </div>
              </div>
          </div>
				<div class="col-md-1">
            <h4 class="text-center">
            TP080F09A
            </h4>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-1 FPC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-1 TAC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-1 偏光板
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-1 AG/AFP
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
				</div>
				<div class="col-md-1">
            <h4 class="text-center">
            TP082F01A
            </h4>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-2 FPC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-2 TAC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-2 偏光板
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								2-2 AG/AFP
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
				</div>
				<div class="col-md-1">
            <h4 class="text-center">
            TP101C01A
            </h4>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-1 FPC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-1 TAC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-1 偏光板
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-1 AG/AFP
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
				</div>
				<div class="col-md-1">
            <h4 class="text-center">
            TP080F09A
            </h4>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-2 FPC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-2 TAC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-2 偏光板
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-2 AG/AFP
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
        </div>
        <div class="col-md-1">
            <h4 class="text-center">
            TP065N03T
            </h4>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-3 TAC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-3 保護膜1
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-3 保護膜2
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-3 FPC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
        </div>
        <div class="col-md-1">
            <h4 class="text-center">
            TP080FO9A
            </h4>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-4 FPC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-4 TAC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-4 偏光板
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-4 AG/AFP
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
        </div>
        <div class="col-md-1">
            <h4 class="text-center">
            TP080F14A
            </h4>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-5 TAC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-5 保護膜1
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-5 保護膜2
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
								3-5 FPC
							</h4>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
        </div>
        <div class="col-md-1">
            <h4 class="text-center">
            TP066F01
            </h4>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h4 class="panel-title">
                4-1 FPC
              </h4>
            </div>
            <div class="panel-body">
              {{night}}
            </div>
            <div class="panel-footer">
              {{day}}
            </div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h4 class="panel-title">
                4-1 AR
              </h4>
            </div>
            <div class="panel-body">
              {{night}}
            </div>
            <div class="panel-footer">
              {{day}}
            </div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h4 class="panel-title">
                4-1 OCA
              </h4>
            </div>
            <div class="panel-body">
              {{night}}
            </div>
            <div class="panel-footer">
              {{day}}
            </div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h4 class="panel-title">
                4-1 CG
              </h4>
            </div>
            <div class="panel-body">
              {{night}}
            </div>
            <div class="panel-footer">
              {{day}}
            </div>
          </div>
          <div class="panel panel-warning">
              <div class="panel-heading">
                <h4 class="panel-title">
                  4-1 真空貼合
                </h4>
              </div>
              <div class="panel-body">
                {{night}}
              </div>
              <div class="panel-footer">
                {{day}}
              </div>
            </div>
        </div>
			</div>
		</div>
	</div>
</div>
