<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Page1
			</h3>
			<div class="btn-group">

				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-left"></em> FPC
				</button>
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-center"></em> TAC
				</button>
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-right"></em> 徧光版
				</button>
				<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-align-justify"></em> AG/AFP
				</button>
			</div><p>
			<div class="row">
				<div class="col-md-3">
            <h3 class="text-center">
            TP080F09A
            </h3>
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-1 FPC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-1 TAC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-1 徧光版
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-1 AG/AFP
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
				</div>
				<div class="col-md-3">
            <h3 class="text-center">
            TP082F01A
            </h3>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-2 FPC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-2 TAC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-2 徧光版
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
								2-2 AG/AFP
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
				</div>
				<div class="col-md-3">
            <h3 class="text-center">
            TP101C01A
            </h3>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-1 FPC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-1 TAC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-1 徧光版
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-success">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-1 AG/AFP
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
				</div>
				<div class="col-md-3">
            <h3 class="text-center">
            TP080F09A
            </h3>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-2 FPC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-2 TAC
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-2 徧光版
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								3-2 AG/AFP
							</h3>
						</div>
						<div class="panel-body">
							{{night}}
						</div>
						<div class="panel-footer">
							{{day}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
