@model Exception

@{
    Layout = "~/Views/Shared/_LayoutCodeQuery.cshtml";
    ViewBag.Title = "General";
}

<h2>General</h2>
<span>錯誤訊息：</span>
<br />
@Html.TextAreaFor(m => m.Message, 3, 50, null)
