@{
    ViewBag.Title = "首頁";
}

@section partialview_scripts {
    @*@Html.Partial("_NewsPartial_scripts")*@
}

@*<h2>管控事項</h2>
@Html.Partial("_RegulatoryListPartial")*@

@*<h2>待辦事項</h2>
@Html.Partial("_ToDoListPartial")*@

@*<h2>系統公告</h2>
@Html.Partial("_NewsPartial")*@