@model ftd.data.EO_DepartmentDataTable

@{
    Layout = "~/Views/Shared/_LayoutCodeQuery.cshtml";//null;
    ViewBag.Title = "群組主檔";
}

@section scripts {
    <script>
        //查詢
        function doQuery(e) {
            e.preventDefault();
            $('#ListGridContainer').jtable('load', {
                Q_DepartmentCode: $('#Q_DepartmentCode').val(),
                Q_DepartmentName: $('#Q_DepartmentName').val(),
                __RequestVerificationToken: $("input[name=\"__RequestVerificationToken\"]").val()
            });
        }

        function initGrid() {
            $('#ListGridContainer').jtable({
                title: '&nbsp;',
                paging: true,
                pageSize: 10,
                pageSizes: [5, 10, 25, 50, 100, 250, 500],
                sorting: true,
                selecting: true,    //Enable selecting
                multiselect: true, //Allow multiple selecting
                selectingCheckboxes: true, //Show checkboxes on first column
                defaultSorting: 'EOD_DepartmentCode ASC',
                actions: {
                    listAction: '@Url.Action("CodeQuery_Multi")'
                },
                fields: {
                    EOD_DepartmentId: {
                        title: '群組Id',
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    EOD_DepartmentCode: {
                        title: '群組代號',
                        key: false,
                        create: false,
                        edit: false,
                        list: true
                    },
                    EOD_DepartmentName: {
                        title: '群組名稱',
                        list: true
                    }
                },
                formCreated: function (event, data) {
                    data.form.validationEngine();
                },
                formSubmitting: function (event, data) {
                    return data.form.validationEngine('validate');
                },
                formClosed: function (event, data) {
                    data.form.validationEngine('hide');
                    data.form.validationEngine('detach');
                },
                selectionChanged: function (e) {
                    var $selectedRows = $('#ListGridContainer').jtable('selectedRows');
                    if ($selectedRows.length > 0) {
                        //Show selected rows
                        $selectedRows.each(function () {
                            var record = $(this).data('record');
                            var par = window.parent;
                            try {
                                par.upload_file_check(record.EOD_DepartmentName, record.EOD_DepartmentId, "EOD");
                            }
                            catch (ex) {
                                alert(ex);
                            }
                    });
                }
            }
            });
        }

        $(document).ready(function () {
            initGrid();
            var btnOK = $("#btnOK");
            btnOK.on("click", function () {
                CloseDialog();
            });
            $('#btnQuery').click(doQuery);
            $('#btnQuery').click();
        });
    </script>

    @using (Html.BeginForm())
    {
      
        @Html.AntiForgeryToken()
        <div>
            群組代號：<input type="text" id="Q_DepartmentCode" name="Q_DepartmentCode" />
        </div>
        <div>
            群組名稱：<input type="text" id="Q_DepartmentName" name="Q_DepartmentName" />
        </div>
        
        <div id="toolbar" style="border: 0px solid black; padding: 5px 5px 5px 5px; width: 100%">
            <button id="btnQuery" type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" style="min-width: 50px;" value="查詢">查詢</button>
        </div>
    }
    <div id="ListGridContainer"></div>
}
